Andy Green <andy@openmoko.com> <agreen@octopus.localdomain>
Christopher Hall <hsw@openmoko.com> <hsw@openmoko.org>
Marek Lindner <lindner_marek@yahoo.de>
Wolfgang Spraul <wolfgang@qi-hardware.com>
Zhang JieJing <kzjeef@gmail.com>
Xiangfu Liu <xiangfu@sharism.cc> <xiangfu@qi-hardware.com>
Xiangfu Liu <xiangfu@sharism.cc> <xiangfu.z@gmail.com>
Xiangfu Liu <xiangfu@sharism.cc> <xiangfu@openmoko.org>
Xiangfu Liu <xiangfu@sharism.cc> <xiangfu@xiangfu-laptop.(none)>
