Source: inflash
Section: misc
Priority: extra
Maintainer: Xiangfu Liu <xiangfu.z@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://code.google.com/p/pi-project/
Package: inflash
Architecture: any
Depends: 
Description: host tools for Ingenic CPU device usb boot.
