Source: xburst-tools
Section: misc
Priority: extra
Maintainer: Xiangfu Liu <xiangfu.z@gmail.com>
Build-Depends: debhelper (>= 7), libusb-dev, libconfuse-dev
Standards-Version: 3.8.2
Homepage: http://github.com/xiangfu/xburst-tools

Package: xburst-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb, libconfuse
Description: tools for Ingenic XBurst CPU USB boot and NAND flash access
 xburst-tools contains tools for Ingenic XBurst CPU device booting.
 It can flash bootloader, kernel, rootfs to Ingenic XBurst CPU
 device NAND, and also has test functions for Ingenic XBurst CPU 
 devices.
