#!/usr/bin/make -f
# This file is in the public domain.
# You may freely use, modify, distribute, and relicense it.

build clean install binary-arch binary-indep binary:
	+dh --parallel $(opt_no_act) $@

override_dh_auto_clean:
	dh_auto_clean
	sh debian/clean.sh

override_dh_auto_configure:
	AUTOMAKE="automake --foreign" autoreconf -is
	dh_auto_configure -- $(opt_optimize) $(opt_quiet) LDFLAGS=-Wl,-z,defs

opt_optimize = CFLAGS="-g -O2"
opt_no_act =
opt_quiet =

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
    opt_optimize = CFLAGS="-g -O0"
endif

ifneq (,$(findstring n,$(MAKEFLAGS)))
    opt_no_act = --no-act
endif

ifneq (,$(filter quiet,$(DEB_BUILD_OPTIONS)))
    opt_quiet = --quiet
    MAKEFLAGS += --quiet
endif
