#!/usr/bin/make -f
# This file is in the public domain.
# You may freely use, modify, distribute, and relicense it.

clean build configure binary-arch binary-indep binary:
	+dh $(opt_no_act) $@

override_dh_auto_configure:
	./autogen.sh
	./configure --enable-firmware --prefix=/usr

override_dh_auto_build:
	$(MAKE) CROSS_COMPILE=mipsel-ip-linux-gnu-

opt_optimize = CFLAGS="-g -O2"
opt_no_act =
opt_quiet =

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
    opt_optimize = CFLAGS="-g -O0"
endif

ifneq (,$(findstring n,$(MAKEFLAGS)))
    opt_no_act = --no-act
endif

ifneq (,$(filter quiet,$(DEB_BUILD_OPTIONS)))
    opt_quiet = --quiet
    MAKEFLAGS += --quiet
endif

REPO = git://projects.qi-hardware.com/xburst-tools.git
BRANCH = master
debiandir_SQ = $(subst ','\'',$(dir $(lastword $(MAKEFILE_LIST))))
get-orig-source:
	REPO='$(REPO)' BRANCH='$(BRANCH)' \
		sh '$(debiandir_SQ)'get-orig-source.sh
